.page {
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #ffdab9; /* Персиковый цвет */
}

main {
    flex: 1;
    background-color: #fff5ee; /* Светлый персиковый */
}

.sidebar {
    background-image: linear-gradient(180deg, #ffb07c 0%, #ffdab9 70%); /* Персиковый градиент */
}

.top-row {
    background-color: #ffe5b4; /* Светлый персиковый для верхней строки */
    border-bottom: 1px solid #ffcc99; /* Персиковый оттенок для границы */
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    color: black;
    align-items: center;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
    color: #ff6347; /* Цвет текста: томатный */
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
    color: #ff4500; /* Цвет при наведении */
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
       
